<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
	<!-- Fail if a file has more than 300 lines -->
	<module name="FileLength">
		<property name="max" value="300" />
	</module>
	<module name="TreeWalker">
		<!-- Fail if cyclomatic complexity > 15 -->
		<module name="CyclomaticComplexity">
			<property name="max" value="15" />
		</module>
		<!-- Enforce method names to be at most 20 characters (camelCase starting with lowercase letter) -->
		<module name="MethodName">
			<property name="format" value="^[a-z][a-zA-Z0-9]{0,24}$" />
		</module>

		<!-- Limit number of parameters to 3 -->
		<module name="ParameterNumber">
			<property name="max" value="3" />
		</module>
	</module>
</module>