<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
  "-//Checkstyle//DTD Check Configuration 1.3//EN"
  "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <!-- Limit number of methods per class -->
    <module name="MethodCount">
      <property name="maxTotal" value="10" />
    </module>

    <!-- Limit cyclomatic complexity per method -->
    <module name="CyclomaticComplexity">
      <property name="max" value="15" />
    </module>
  </module>
</module>
